<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	{% block content %}{% endblock content %}
	<hr />
	<p><strong>Dinger</strong>. Checking Web Sites since 2011. &copy; Ville Säävuori | r {{ hg_revision }} | {{ hg_last_updated|date:"j.n.Y" }}</p>
</body>
</html>
