{% extends "base.html" %}

{% block title %}Dinger{% endblock title %}

{% block content %}
{% if url %}
<h1>Headers from {{ url }}</h1>

{% if timeout %}
<p>Error: URL Timed out.</p>
{% else %}
<ul>
	<li>Etag: {{ etag_support }}</li>
	<li>Gzip: {{ gzip_support }}</li>
	<li>Server: {{ server }}</li>
	<li>Response time: {{ elapsed_time|floatformat:"1" }} s</li>
</ul>
{% endif %}

<hr />

<h3>Check another</h3>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	{{ form.as_p }}	
	<p><input type="submit" value=" Submit URL "></p>
</form>
{% else %}
<h3>Check headers</h3>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	{{ form.as_p }}	
	<p><input type="submit" value=" Submit URL "></p>
</form>
{% endif %}
{% endblock content %}